<div class="profile__details-last-seen">Last seen <span data-livestamp="{{ts user.geo.lastSeen}}"></span></div>
<div class="profile__details-geoposition"><i class="fa fa-location-arrow"></i> {{user.geo.vicinity}}</div>