<div class="container clocks">
  <div class="inner">
    <div class="clocks__item">
      <div class="clocks__item-details">
        <div class="clocks__item-title">{{user.climate.vicinity}}</div>
        <div class="clocks__item-timezone">{{user.climate.country}}</div>
      </div>
      <div class="clocks__item-time">{{digitalClock}}</div>
    </div>
  </div>
</div>