<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Causeway</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body class="page-{{activePage}}">

  {{#eq activePage 'profile'}}
  {{else}}
    {{>header}}
  {{/eq}}
  <div class="site-content">
  {{{body}}}
  </div>
  {{>menu}}
  <script src="js/bundle.js"></script>
</body>
</html>