<div class="container exp">
  <div class="inner">
    <div class="transaction">
      <div class="transaction__user">
        <div class="transaction__user-name">Miguel</div>
        <button class="transaction__user-select"><span class="fa fa-check"></span></button>
      </div>
      <div class="transaction__user">
        <div class="transaction__user-name">Santino</div>
        <button class="transaction__user-select"><span class="fa fa-check"></span></button>
      </div>
      <input class="transaction__field-amount" name="search" type="text" placeholder="Amount">
      <input class="transaction__field-description" name="search" type="text" placeholder="Description">
    <div class="records">
      <div class="records__item">
        <div class="records__item-date"></div>
        <div class="records__item-description"></div>
        <div class="records__item-total"></div>
        <div class="records__item-complete"></div>
        <div class="records__item-paid">
          <div class="records__item-paid-user"></div>
          <div class="records__item-paid-amount"></div>
        </div>
        <div class="records__item-debt">
          <div class="records__item-debt-user"></div>
          <div class="records__item-debt-amount"></div>
        </div>
      </div>
    </div>
  </div>
</div>