<div class="container exp">
  <div class="inner">
    <div class="exp-search">
      <input class="exp-search__field" name="search" type="text" placeholder="Search a friend">
      <button class="exp-search__button"><span class="fa fa-plus"></span></button>
    </div>
  </div>
</div>