<div class="container exp">
  <div class="inner">
    <div class="transaction">
      {{#each users}}
        <div class="transaction__user">
          <div class="transaction__user-details">
            <img class="transaction__user-avatar" src="{{this.avatar}}">
            <div class="transaction__user-name">{{this.name.first}}</div>
          </div>
          <div class="transaction__user-select">
            <span class="fa fa-check"></span>
            <input class="transaction__user-checkbox" data-user="{{this.name.first}}" type="checkbox">
            <div class="transaction__user--checked"></div>
          </div>
        </div>
      {{/each}}
      <div class="transaction__info"></div>
      <input class="transaction__field-amount" name="transaction-amount" type="text" placeholder="Amount">
      <input class="transaction__field-description" name="transaction-description" type="text" placeholder="Description">
    <div class="records">
      <div class="records__item">
        <div class="records__item-date"></div>
        <div class="records__item-description"></div>
        <div class="records__item-total"></div>
        <div class="records__item-complete"></div>
        <div class="records__item-paid">
          <div class="records__item-paid-user"></div>
          <div class="records__item-paid-amount"></div>
        </div>
        <div class="records__item-debt">
          <div class="records__item-debt-user"></div>
          <div class="records__item-debt-amount"></div>
        </div>
      </div>
    </div>
  </div>
</div>