<div class="menu">
  {{#each site.menu}}
  <div class="menu-item {{#eq name ../activePage}}active{{/eq}}">
    <i class="{{icon}}"></i>
    <h2 class="header-text">{{name}}</h2>
  </div>
  {{/each}}
</div>