{{>mod-clock}}
{{>mod-weather}}
<div class="mod-groups">
  {{#eachUpTo user.groups 1}}
    {{>component-group}}
  {{/eachUpTo}}
</div>
<div class="mod-recent-activity">
  {{#eachUpTo group.transactions 10}}
  <div class="recent-activity__item-divider"></div>
  <div class="recent-activity__item wrapper">
    {{>component-record}}
  </div>
  {{/eachUpTo}}
</div>