{{>page-header}}
<div class="container clocks">
  <div class="inner">
    <div class="clocks__item">
      <div class="clocks__item-details">
        <div class="clocks__item-title" id="vicinity">{{user.geo.vicinity}} <i class="fa fa-spinner fa-spin"></i></div>
        <div class="clocks__item-timezone">{{tz}}</div>
      </div>
      <div class="clocks__item-time">{{digitalClock}}</div>
    </div>
  </div>
</div>