<div class="mod-clocks-el">
  {{>mod-clock}}
</div>
<div class="mod-weather-el">
  {{>mod-weather}}
</div>
<div class="container mod-groups">
  <div class="inner">
    {{#each groups}}
      <div class="groups__item">
        <div class="groups__item-name">{{name}}</div>
        <div class="groups__item-user-count">{{userCount}} members</div>
      </div>
    {{/each}}
  </div>
</div>