<div class="mod-clocks-el">
  {{>mod-clock}}
</div>
<div class="mod-weather-el">
  {{>mod-weather}}
</div>
<div class="container mod-groups">
  <div class="inner">
    {{>component-group}}
  </div>
</div>