{{>page-header}}
<div class="container clocks">
  <div class="inner">
    <div class="clocks__item">
      <div class="clocks__item-title">{{user.geo.vicinity}}</div>
      <div class="clocks__item-timezone">{{user.geo.timezone}}</div>
      <div class="clocks__item-time">{{tz}}</div>
    </div>
  </div>
</div>