{{>mod-clock}}
{{>mod-weather}}
<div class="mod-groups">
  {{#each user.groups}}
    <div><a href="/groups/{{this._id}}"><i class="fa fa-random"></i></a></div>
    {{>component-group}}
  {{/each}}
</div>
<div class="mod-recent-activity">
  {{#eachUpTo group.transactions 10}}
  <div class="recent-activity__item-divider"></div>
  <div class="recent-activity__item wrapper">
    {{>component-record}}
  </div>
  {{/eachUpTo}}
</div>