{{>mod-clock}}
{{>mod-weather}}
<div class="mod-groups">
  {{>component-group}}
</div>

<div class="mod-recent-activity">
  {{#eachUpTo transactions 5}}
  <div class="recent-activity__item-divider"></div>
  <div class="recent-activity__item">
    {{>component-record}}
  </div>
  {{/eachUpTo}}
</div>