<div class="mod-profile">
  <div class="cover-photo" {{#if user.coverPhoto}}style="background-image: url('{{user.coverPhoto}}')"{{/if}}></div>
  <div class="profile wrapper">
    <div class="profile__image">
      <img class="img-scale" src="{{user.avatar}}">
    </div>
    <div class="profile__details">
      <div class="profile__details-name">{{user.fullname}}</div>
      <div class="profile__details-location">
        {{>component-profile-location}}
      </div>
    </div>
    <div class="profile-nav">
      <a href="/logout">
        <button class="profile-nav__button"><i class="fa fa-gears"></i></button>
      </a>
    </div>
  </div>
  <div class="mod-groups">
    {{#each groups}}
      <div class="profile__groups">
        <a href="/groups/{{_id}}">
          <button class="profile__groups-switch-to"><span class="fa fa-random"></span></button>
        </a>
      </div>
      {{>component-group}}
    {{/each}}
  </div>
</div>