<div data-id="{{_id}}" class="search-users__results-item">
  <div class="search-users__results-item-avatar"><img class="img-scale" src="{{avatar}}"></div>
  <div class="search-users__results-item-name">{{fullname}} <i class="fa fa-plus"></i></div>
</div>